doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.css")
        link(rel="stylesheet", href="assets/css/a8e37caf2a04602ea5815e5acedab458.css")
        link(rel="stylesheet", href="assets/css/all.css")
        link(rel="stylesheet", href="assets/css/css.css")
        link(rel="stylesheet", href="assets/css/fontawesome-app.css")
        link(rel="stylesheet", href="assets/css/normalize.min.css")
        title Expading Flex Cards
    body
        .options
            .option.active(style='--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);')
                .shadow
                .label
                .icon
                    i.fas.fa-walking
                .info
                    .main Blonkisoaz
                    .sub Omuke trughte a otufta
            .option(style='--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);')
                .shadow
                .label
                .icon
                    i.fas.fa-snowflake
                .info
                    .main Oretemauw
                    .sub Omuke trughte a otufta
            .option(style='--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);')
                .shadow
                .label
                .icon
                    i.fas.fa-tree
                .info
                    .main Iteresuselle
                    .sub Omuke trughte a otufta
            .option(style='--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);')
                .shadow
                .label
                .icon
                    i.fas.fa-tint
                .info
                    .main Idiefe
                    .sub Omuke trughte a otufta
            .option(style='--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);')
                .shadow
                .label
                .icon
                    i.fas.fa-sun
                .info
                    .main Inatethi
                    .sub Omuke trughte a otufta
            a.credit(href='http://victorofvalencia-blog.tumblr.com' target='_blank') Photos from Victor of Valencia on tumblr
    script(src="assets/jqueryv3.3.1.js")
    script(scr="assets/a8e37caf2a04602ea5815e5acedab458.js")
    script(src="assets/script.js")